// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.hidden {
    visibility: hidden;
  }
  
  .notes-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    height: 100vh;
    width: 100%;
    position: relative;
  }
  
  .notes-header-and-index {
    border-right: 1px solid #ECECEC;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  // .notes-index-container {
  //   overflow: -moz-scrollbars-vertical;
  //   overflow-y: scroll;
  //   height: 100%;
  //   width: 347px;
  //   -webkit-box-sizing: border-box;
  //           box-sizing: border-box;
  //   padding: 0 2px;
  // }
  
  .panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    left: -422px;
    position: absolute;
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
  }
  
  .panel.open {
    left: 0;
  }
  
  .content {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
    overflow: auto;
  }
  
  .content.open {
      left: 422px;
  }
  
  // .note-detail-container {
  //   width: 100%;
  //   position: relative;
  // }
  
  // .note-detail-header {
  //   width: 100%;
  //   display: -webkit-box;
  //   display: -ms-flexbox;
  //   display: flex;
  //   margin-bottom: 8px;
  // }
  
  // .notes-header-info {
  //   width: 100%;
  //   display: -webkit-box;
  //   display: -ms-flexbox;
  //   display: flex;
  //   -ms-flex-wrap: wrap;
  //       flex-wrap: wrap;
  //   -webkit-box-pack: justify;
  //       -ms-flex-pack: justify;
  //           justify-content: space-between;
  //   -webkit-box-align: center;
  //       -ms-flex-align: center;
  //           align-items: center;
  //   font-size: 13.5px;
  //   padding-bottom: 9px;
  //   border-bottom: 1px solid #ECECEC;
  // }
  
  // .notes-header {
  //   font-size: 21px;
  //   letter-spacing: 1px;
  //   margin: 27px 24px;
  // }
  
  // .note-count {
  //   color: #ABABAB;
  //   margin-left: 25px;
  // }
  
  // .notes-index-item {
  //   margin: 0;
  //   padding: 13.5px 24px;
  //   height: auto;
  //   position: relative;
  // }
  
  // .notes-index-container div:first-of-type article {
  //   margin-top: 2px;
  // }
  
  .selected-index-item {
    outline: 2px solid #D9D9D9;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .bottom-border {
    border-bottom: 1px solid #ECECEC;
    width: 86%;
    margin: 0 auto;
  }
  
  // .notes-index-item:hover, .notes-index-item:hover h3 {
  //   background-color: #40bc6c;
  //   cursor: pointer;
  //   color: white;
  //   outline: 2px solid #40bc6c;
  // }
  
  // .notes-index-title {
  //   font-family: 'Caecilia';
  //   font-size: 1.3em;
  //   color: #4A4A4A;
  //   padding-top: 3px;
  // }
  
  // .notes-index-updated {
  //   text-transform: uppercase;
  //   margin: 6px 0;
  //   letter-spacing: 1px;
  // }
  
  // .notes-index-body {
  //   margin: 0;
  //   font-size: 13px;
  //   line-height: 17px;
  //   overflow: hidden;
  //   height: 50px;
  // }
  
  .index-item-delete {
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
  }
  
  .index-item-delete, .index-item-delete:hover {
    right: 10px;
    top: 9px;
  }
  
  .index-item-delete {
    background: url('https://res.cloudinary.com/malice/image/upload/v1500610662/delete-white_fgwrtv.png') no-repeat center center;
  }
  
  .index-item-delete:hover {
    background: url('https://res.cloudinary.com/malice/image/upload/v1500610662/delete-white-hover_qcz34v.png') no-repeat center center;
  }
  
  .note-detail-info, .note-detail-delete {
    margin-left: 18px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-top: 14px;
  }
  
  .note-detail-info {
    background: url('https://res.cloudinary.com/malice/image/upload/v1500410337/info-small_idnucv.png') no-repeat center center;
  }
  
  .note-detail-info:hover {
    background: url('https://res.cloudinary.com/malice/image/upload/v1501249455/reminder-green_skqgt7.png') no-repeat center center;
  }
  
  .note-detail-delete {
    background: url('https://res.cloudinary.com/malice/image/upload/v1500410338/trashcan-gray_omn62d.png') no-repeat center center;
  }
  
  .note-detail-delete:hover {
    background: url('https://res.cloudinary.com/malice/image/upload/v1501249453/delete-big-green_b0dqxl.png') no-repeat center center;
  }
  
  .expand, .expand:hover, .collapse, .collapse:hover {
    width: 35px;
    height: 35px;
    position: absolute;
    margin-top: 9px;
    right: 16px;
    cursor: pointer;
  }
  
  .expand {
    background: url('https://res.cloudinary.com/malice/image/upload/v1500674963/expand_cf3ejc.png') no-repeat center center;
    background-size: 40px;
  }
  
  .expand:hover {
    background: url('https://res.cloudinary.com/malice/image/upload/v1500674963/expand-hover_mtvfug.png') no-repeat center center;
    background-size: 34px;
  }
  
  .collapse {
    background: url('https://res.cloudinary.com/malice/image/upload/v1501276005/collapse_omgfba.png') no-repeat center center;
    background-size: 40px;
  }
  
  .collapse:hover {
    background: url('https://res.cloudinary.com/malice/image/upload/v1501276005/collapse-hover_ydna03.png') no-repeat center center;
    background-size: 34px;
  }
  
  .note-select-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  
  .new-note-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .cancel, .add-note {
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    padding: 6px 15px;
    position: absolute;
    right: 0;
    top: -30px;
    right: -10px;
  }
  
  .cancel {
    background-color: #ECECEC;
    color: #606060;
    border: 1px solid #D9D9D9;
  }
  
  .add-note {
    margin-right: 90px;
    background-color: #2DBE60;
    color: white;
    border: 1px solid #2DBE60;
  }
  
  .add-note:hover {
    background-color: #28A956;
  }
  
  .add-note:disabled {
    opacity: .5;
    cursor: default;
  }
  
  .cancel:hover {
    background-color: #D9D9D9;
  }
  
  // .note-container-wrap {
  //   height: 100vh;
  // }

  .note-container {
    width: auto;
    margin: 42px 30px 20px 30px;
    position: fixed;
    z-index: 100;
    left: 440px;
    min-width: 600px;
    font-family: Helvetica;
  }
  
  .new-note-container {
    width: 94%;
    margin: 58px auto 0 auto;
    position: relative;
    height: 100vh;
    font-family: Helvetica;
  }
  
  .note-title, .new-note-title {
    position: absolute;
    top: 100px;
    left: 15px;
    color: #2DBE60;
   
    font-size: 28px;
    z-index: 1;
    width: 98%;
  }
  
  .note-title::-webkit-input-placeholder, .new-note-title::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color: #2DBE60;
  }
  .note-title:-moz-placeholder, .new-note-title:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color: #2DBE60;
     opacity:  1;
  }
  .note-title::-moz-placeholder, .new-note-title::-moz-placeholder { /* Mozilla Firefox 19+ */
     color: #2DBE60;
     opacity:  1;
  }
  .note-title:-ms-input-placeholder, .new-note-title:-ms-input-placeholder { /* Internet Explorer 10-11 */
     color: #2DBE60;
  }
  .note-title::-ms-input-placeholder, .new-note-title::-ms-input-placeholder { /* Microsoft Edge */
     color: #2DBE60;
  }
  
  .note-modal-title {
    font-family: 'Caecilia Light';
    font-size: 28px;
    letter-spacing: .6px;
    margin: 20px;
    color: #383838;
    text-align: center;
  }
  
  .note-overview-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: bold;
  }
  
  .note-overview-item li {
    margin-top: 20px;
    color: #4A4A4A;
  }
  
  .note-overview-item li:first-of-type {
    color: #878787;
    letter-spacing: 1px;
    font-weight: normal;
    margin-right: 5px;
  }
  
  .note-close-button {
    margin-top: 80px;
  }
  
  @media all and (max-width: 1275px) {
    .note-container {
      margin: 20px 30px 20px 30px;
    }
  }
