.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
  }
  
  .modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .modal-background2 {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.4);
    z-index: 10;
  }
  
  .modal-child2 {
    position: relative;
    // top: 50%;
    width: 456px;
    left: 73px;
    // transform: translate(-10%, 0%);
    background: #FFFFFF;
    border: 2px solid #F2F2F2;
  }