.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.4);
  z-index: 12;
  }
  
  .modal-child {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    top:665px;
    bottom: -5px;
    right: 45%;
    left: 193px;
    background: rgb(245, 245, 245);
    z-index: 12;
    border-radius: 4%;
    -webkit-box-shadow: 0 0 7px 3px #ECECEC;
    box-shadow: 0 0 7px 3px #ECECEC;
    width: 249px;
    height: 87px;
  }
  
  .modal-background2 {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.4);
    z-index: 13;
  }
  
  .modal-child2 {
    position: relative;
    // top: 50%;
    width: 456px;
    left: 73px;
    // transform: translate(-10%, 0%);
    background: #FFFFFF;
    border: 2px solid #F2F2F2;
    z-index: 13;
    // animation: scaleUp .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  }

  .modal-background3 {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.96);
    z-index: 13;
    display: flex;
    justify-content: center;
  }
  
  .modal-child3 {
    // position: absolute;
    top: 50%;
    left: 50%;
    // transform: translate(-50%, -50%);
    z-index: 25;
    // width: 70%;
    height: 100%;
    margin-top: 10%;
    
  }



  .modal-child4 {
    // display: flex;
    display: grid;
    position: absolute;
    grid-template-columns: 450px 1fr;
    // top: 50%;
    width: 456px;
    left: 73px;
    // transform: translate(-10%, 0%);
    background: #FFFFFF;
    border: 2px solid #F2F2F2;
    // z-index: 2;
  }

 

  .modal-background5 {
    // display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 200;
    background: rgba(0, 0, 0, 0.7);
    background: purple;
    z-index: 40;
  }
  
  .modal-child5 {
    // display: flex;
    position: fixed;
    // justify-content: flex-end;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    background: pink;
    margin: 100px;
  }