.noteform {
    width: 650px;
    height: 311px;
    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;
    line-height: 45px;
    margin-bottom: 84px;
}

.noteform > img {
        height: 40px;
        width: 40px;
}
.noteform > h2 {
    
    font-size: 13px;
    padding-top: 7px;
    padding-bottom: 4px;
    // text-align: center;
    color: #8B8B8B;
    
    text-transform: uppercase;
    
    font-family: "Helvetica Neue", sans-serif;
    letter-spacing: 1px;
}
.noteform > div {
    border-top: 1px solid #D9D9D9;
    width: 120px;
    margin-bottom: 38px;
    // margin-left: 75px;
}


.noteform-form {
    display: flex;
    flex-direction: column;
}
.noteform-form > input {
    font-size: 30px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    // text-align: center;
    margin-top: 14px;
    margin-bottom: 80px;
    justify-self: center;
    color: #383838;
    font-weight: lighter;
    
}

.noteform-form > input::placeholder {
    font-family: Helvetica, sans-serif;
    color: rgb(204, 204, 204);
    font-weight: lighter;
    letter-spacing: 0.3px;
    // margin-left: 75px;
}

.noteform-form > div {
    display: flex;
    // flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
}

.noteform-button-cancel {
    // margin-top: 10px;
    // background: #008A2D;
    background: #D9D9D9;
    color: #818181;
    max-width: 280px;
    height: 33px;
    width: 180px;
    // padding: 16px 16px;
    border-radius: 5px;
    text-align: center;
    // margin: 7px 0px 13px;
    line-height: 10px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 13px;
    margin: 0px 4px;

}
.noteform-button-cancel:hover {
    color: #606060;
    // margin: 7px 0px 13px;
}
.noteform-button {
    // background: #008A2D;
    background: #2DBE60;
    color: white;
    max-width: 280px;
    height: 33px;
    width: 180px;
    border-radius: 5px;
    text-align: center;
    // margin: 7px 0px 13px;
    line-height: 10px;
    font-family: "Helvetica Neue", sans-serif;
    margin: 0 4px;
    font-size: 13px;

}

.noteform-button:hover {
    background: #4FA956;
}


.notebook-dropdown {
    position: absolute;
    background-color: white;
    -webkit-box-shadow: 0 0 7px 3px #ECECEC;
            box-shadow: 0 0 7px 3px #ECECEC;
    border-radius: 5px;
    top: 55px;
    left: 15px;
    width: 300px;
    height: auto;
    // max-height: 50vh;
    z-index: 2;
    color: #4B4B4B;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
  }


  .select-add-notebook {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: bold;
    padding: 13px 10px;
    margin: 0 10px;
    font-family: 'Helvetica';
    border-bottom: 1px solid #ECECEC;
    // -webkit-box-shadow: 0 0 7px 3px #ECECEC;
    //         box-shadow: 0 0 7px 3px #ECECEC;
  }

  .notebook-select-item-container {
    padding: 5px;
    background-color: white;
    border-radius: 5px;
  }
  
  .select-add-notebook:hover {
    color: #2DBE60;
    cursor: pointer;
  }
  
  .select-add-notebook-header {
    width: auto;
    height: 13px;
  }

  .small-notebook-icon {
    width: 12px;
    height: 13px;
    margin-left: 15px;
    cursor: pointer;
  }

  .select-notebook {
    cursor: pointer;
    color: #606060;
    margin-left: 8px;
    font-weight: bold;
  }
  
  .select-notebook::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 6px;
    margin-top: 5px;
    margin-left: 3px;
    vertical-align: top;
    background: url('https://res.cloudinary.com/malice/image/upload/v1500438313/caret_gray_10x6_iz0o7w.png') center;
    background-size: 10px 6px;
    position: absolute;
  }