.wrapper {
    // display: grid;
    // grid-template-columns: 67px 1fr minmax(40px, auto);
    // grid-template-columns: 80px 400px;
    // grid-template-rows: 80px repeat(10, 45px);
    // grid-template-rows: repeat(10, 80px);
    // grid-auto-flow: column;
    // grid-row-gap: 10px;
    // margin: auto;
    display: flex;
    flex-flow: row wrap;
    // justify-content: flex-end;
    width: 100%;
    // background-color: red;
    // width: 500px;
}


.sidebar {
    background-color: #F8F8F8;
    z-index: 10;
    border: 1px solid #ECECEC;
    // z-index: 200;
    // box-sizing: border-box;
    // position: absolute;
    // justify-self: center;
    // align-self: center;
    display: grid;
    grid-template-columns: 73px;
    grid-template-rows: 83px repeat(3, 48px) 95px repeat(3, 48px) auto;
    height: 100vh;
    width: 73px;
    // grid-auto-flow: column;
    // grid-row-gap: 10px;
    justify-items: center;
    align-items: baseline;
    cursor: unset;
    
    
}

.sidebar-icon {
    // grid-column-start: 1;
    grid-row-start: 1;
    height: 30px;
    width: 30px;
    // align-self: baseline;
    // margin-top: 36px; 
    // padding: 12px 12px 24px 17px;
    z-index: 100;
    margin-top: 12px;
}

.sidebar > button {
    grid-column: 1;

    // margin: 12px 12px 24px 17px;
    // margin-top: 30px;
    // margin-top: 40px;
   
    // justify-self: center;
    // align-self: center;
    border-radius: 50%;
    
    height: 36px;
    width: 36px;
    // opacity: 0;
    transition: opacity 0.25s ease-in-out;
    cursor: pointer;
    
    font-size: 18px;
    text-align: center;
    z-index: 100;
}

.sidebar > button:focus {
    border: 1px solid #2DBE60;
}


.sidebar > button:hover {
    background-color: #2DBE60;
    color: #FFFFFF;
}

.indexbar {
    height: 100vh;
    width: 350px;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: 74px 61px;
    // z-index: 100;
    // z-index: 4;
    border: 1px solid #ECECEC;
    justify-content: center;

}

.modal-notebook-content {
    display: grid;
    position: fixed;
    grid-template-columns: 456px;
    grid-template-rows: 80px 50px 1px;
    height: 100vh;
    border: 1px solid #ECECEC;
    background-color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
    left: 73px;
    cursor: unset;

}

.create-notebook-button {
    position: absolute;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    transition: opacity 0.25s ease-in-out;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    z-index: 8;
    background-color: grey;
    color: white;
    // align-self: flex-end;
    justify-self: flex-end;
}


.modal-notebook-content > h1 {
    font-size: 21px;
    grid-row-start: 1;
    padding: 22px;
    color: #878787;
    text-transform: uppercase;
    
    letter-spacing: 0.3px;
    height: 10px;
    font-weight: lighter;
}
.modal-notebook-content > input {
    font-size: 13px;
    grid-row-start: 2;
    background-color: transparent;
    border: 1px solid #E1E1E1;
    border-radius: 2px;
    outline: none;
    box-sizing: border-box;
    color: #ABABAB;
    // font-family: "Helvetica Neue", sans-serif;
    font-weight: 100px;
    text-align: center;
    padding: 10px 40px 9px 15px;
    margin-bottom: 12px;
    height: 39px;
    width: 410px;
    justify-self: center;
    
    // height: 16px;
    // justify-items: center;
    // letter-spacing: 0.5px;
}

.modal-notebook-content > div {
    border-top: 0.5px solid #ECECEC;
}

.modal-notebook-content-list {
    display: flex;
    // grid-template-rows: repeat(10, 70px);
    // grid-auto-flow: row;
    // border-top: 1px solid #ECECEC;
    // border-width: 90%;
    height: 60px;
    // width: 100%;
    
    
    
    
    
}

.modal-notebook-content-list > * {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    color: #4A4A4A;
    // padding: 15px;
    padding: 15px 23px 19px;
    height: 27px;
    width: 100%;
    
    flex-direction: column;
    
    
}
.modal-notebook-content-list > *:hover {
    background-color: #40BC6C;
}
.modal-notebook-content-list > * > h4 {
    font-size: 12px;
    color: #878787;
    line-height: 25px;
}
// .modal-notebook-content-list-hr {
.modal-notebook-content-list > * > div{
    border-top: 0.5px solid #ECECEC;
    width: 420px;
    margin-top: -19px;
    align-self: flex-start;
    // padding-left: -30px;
    position: absolute;
    margin-top: 44px;
}


// .modal-notebook-content-list-delete {

.modal-notebook-content-list > * > a {
    // display: flex;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    transition: opacity 0.25s ease-in-out;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    z-index: 50;
    visibility: hidden;
    background-color: grey;
    color: white;
    align-self: flex-end;
    // flex-direction: row;
    position: absolute;
}

.modal-notebook-content-list > *:hover .modal-notebook-content-list-delete {
    visibility: visible;
    
}

.modal-notebook-content-list-delete:hover {
    background-color: white;
    color: grey;
}

.modal-notebook-content-list > *:hover .modal-notebook-content-list-hr {
    // color: #40BC6C;
    visibility: hidden;
}

.taskbar {
    height: 100vh;
    // width: 652px;
    width: 45%;
    background-color: #F8F8F8;
    display: grid;
    // z-index: 10;
    // background: blue;
    grid-template-columns: 350px;
    grid-template-rows: 74px 61px;
    
    // border: 1px solid #ECECEC;
}

.b1 {
    background-image: asset-data-url("blackcross.png");
    background-size: 55%;
    // height: 10px;
    background-repeat: no-repeat;
    background-position: center;
    // border: 1px solid #ECECEC;
    border: 1px solid #ECECEC;
    background-color: #FFFFFF;
    

}
.b1:hover {
    background-image: asset-data-url("whitecross.png");
}


.b2 {
    color: #2DBE60;
    // background-color: #F8F8F8;
    border: 1px solid #ECECEC;
    background-color: #FFFFFF;
    // border: none;
}

.b6 {
    background-image: asset-data-url("greennote.png");
    background-size: 55%;
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-position: center;
    // border: 1px solid #ECECEC;
 
}

.b6:hover {
    background-image: asset-data-url("whitenote.png");
}

.b7 {
    background-image: asset-data-url("greennotebook.png");
    background-size: 55%;
    // height: 10px;
    background-repeat: no-repeat;
    background-position: center;
    // border: 1px solid #ECECEC;
 
}

.b7:hover {
    background-image: asset-data-url("whitenotebook.png");
}

.logout {
    z-index: 100;
    background-color: blue;
    position:fixed;
    bottom: 10px;
    left: 10px;
    height: 40px;
    width: 40px;
}