.app-wrapper {
    display: flex;
    justify-content: center;
}

.modal-note-content {
    display: grid;
    position: fixed;
    grid-template-columns: 353px;
    grid-template-rows: 60px 37px 1px;
    height: 100vh;
    border: 1px solid #ECECEC;
    background-color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    font-family: Arial, Helvetica, sans-serif;
    // z-index: 8;
    left: 73px;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;

}

.modal-note-content > h1 {
    font-size: 21px;
    grid-row-start: 1;
    padding: 25px;
    color: #878787;
    text-transform: uppercase;
    
    letter-spacing: 0.3px;
    height: 10px;
    font-weight: lighter;
}

.modal-note-content > div {
    border-bottom: 1px solid #ECECEC;
}

// .modal-note-content > * > h2 {
//     font-size: 22px;
//     grid-row-start: 1;
//     padding: 22px;
//     color: #878787;
//     text-transform: uppercase;
    
//     letter-spacing: 0.3px;
//     height: 10px;
//     font-weight: lighter;
// }
// .modal-note-content > input {
//     font-size: 13px;
//     grid-row-start: 2;
//     background-color: transparent;
//     border: 1px solid #E1E1E1;
//     border-radius: 2px;
//     outline: none;
//     box-sizing: border-box;
//     color: #ABABAB;
//     // font-family: "Helvetica Neue", sans-serif;
//     font-weight: 100px;
//     text-align: center;
//     padding: 9px 15px 9px 15px;
//     margin-bottom: 12px;
//     margin: 0 12px 0;
//     height: 39px;
//     width: 300px;
//     justify-self: center;
    
//     // height: 16px;
//     // justify-items: center;
//     // letter-spacing: 0.5px;
// }

// .modal-note-content > div {
//     border-top: 0.5px solid #ECECEC;
// }

.modal-note-content-list {
    display: flex;
    grid-auto-rows: repeat(1, 120px);
    grid-auto-flow: row;
    // border-top: 1px solid #ECECEC;
    // border-width: 90%;
    height: 83px;
    // width: 100%;

    
}

.modal-note-content-list > * {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    
    // padding: 15px;
    padding: 15px 23px 19px;
    // margin-bottom: 25px;
    height: 81px;
    width: 100%;
    
    flex-direction: column;
    
}

.modal-note-content-list > h3 {
    color: #4A4A4A;
    line-height: 15px;
}

.modal-note-content > *:focus {
    box-sizing: border-box;
    border: 2px solid #D9D9D9;
    // border-color: #D9D9D9;
}
.small {
    font-size: 12px;
    color: #878787;
    line-height: 25px;
}


.modal-note-content-list > *:hover {
    background-color: #40BC6C;
    color: white;
}




.modal-note-content-list-delete {

// .modal-note-content-list > * > button {
    // display: flex;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    // opacity: 0;
    transition: opacity 0.25s ease-in-out;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    z-index: 50;
    visibility: hidden;
    background-color: #40BC6C;
    color: white;
    align-self: flex-end;
    // flex-direction: row;
    position: absolute;

    background-image: asset-data-url("whitetrash.png");
    background-size: 55%;
    // height: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.modal-note-content-list > *:hover .modal-note-content-list-delete {
    visibility: visible;
    
}

.modal-note-content-list-delete:hover {
    background-color: white;
    // color: grey;
    background-image: asset-data-url("greentrash.png");
}

.modal-note-content-list-edit {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        // opacity: 0;
        transition: opacity 0.25s ease-in-out;
        cursor: pointer;
        font-size: 18px;
        text-align: center;
        z-index: 50;
        visibility: hidden;
        background-color: #40BC6C;
        color: white;
        align-self: flex-end;
        // flex-direction: row;
        position: absolute;
    
        // background-image: asset-data-url("whitetrash.png");
        // background-size: 55%;
        // // height: 10px;
        // background-repeat: no-repeat;
        // background-position: center;
        margin-right: 20px;
    }
    
    .modal-note-content-list > *:hover .modal-note-content-list-edit {
        visibility: visible;
        
    }
    
    .modal-note-content-list-edit:hover {
        background-color: white;
        // color: grey;
        background-image: asset-data-url("greentrash.png");
    }

.modal-note-content-list > *:hover .modal-note-content-list-hr {
    // color: #40BC6C;
    visibility: hidden;
}

.modal-note-content-list-hr {
    border: 0.4px solid #ECECEC;
    // border-width: 80%;
    margin-top: -16px;
    margin-bottom: 13px;
}