.splash-background {
    // background-color: #00A82D;
    // background-image: asset-data-url("green-splash.jpg");
    background-image: asset-data-url("green arrow background.png");
    //Photo by FOX from Pexels
    //Photo by Stanislav Kondratiev on Unsplash
    background-size: cover;
}

.splash-main-text {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 270px auto 10px 58px 92px;
    grid-gap: 0px 20px;
    color: white;
    font-family: Helvetica, Arial, serif;
    -webkit-font-smoothing: antialiased;
    max-width: 1300px;
    padding: 30px 40px 30px 40px;
    margin: auto;
  
    // margin: auto;
   //  min-height: 875px;
   justify-content: space-around;
 }
 
 .splash-main-head {
    margin-block-start: 0.57em;
    margin-block-end: 0.67em;
    margin-top: 32px;
    font-size: 50px;
    grid-column-start: 1;
    grid-row-start: 1;
    line-height: 70px;
    letter-spacing: 0.06em;
    font-weight: 600;
    // margin-bottom: 30px;
    max-width: 400px;
    text-align: start;
    
 }
 
 .splash-main-body {
    // display: block;
    font-size: 23px;
    // width: 300px;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: lighter;
    grid-column-start: 1;
    grid-row-start: 2;
    line-height: 40px;
    letter-spacing: 0.08em;
    max-width: 568px;
   //  margin-right: 20px;
  //  align-self: center;
  //  align-content: center;
    
 
 }
 
 .splash-main-signup {
    // display: inline-block;
    background: white;
    font-family: Helvetica, sans-serif;
    color: #00A82D;
    text-align: center;
    border-radius: 3px;
    // padding: 18px 32px 17px;
    font-size: 14px;
    grid-column-start: 1;
    grid-row-start: 4;
    height: 58px;
    width: 240px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.06em;
    margin-top: 30px;
    text-indent: 10px;
    position: relative;
    
  }

  .splash-main-signup > h1 {
    position: absolute;
    left: 13%;
    bottom: 31%;
  }



.splash-main-signup:hover {
    background: rgba(255, 255, 255, 0.931);
}
 
.splash-main-img {
    grid-column-start: 2;
    grid-row: 1/ span 4;
    justify-self: center;
    align-self: center;
    margin-top: 100px;
    padding-right: 20px;
    width: 100%;
    height: 100%;
    min-width: 240px;
    
}

@media screen and (max-width: 750px) {
  .splash-main-text {
    grid-template-rows: 330px auto 40px 58px 50px;
  }
}

@media screen and (max-width: 600px) {
   .splash-main-text {
   //   flex-wrap: wrap;
      // grid-template-columns: 1fr;
      // grid-template-rows: auto auto auto auto auto 500px;
      // grid-auto-flow: column;
      // display: inline-flex;
      // flex-direction: column;
      max-width: 510px;
      padding: 30px 30px 120px 30px;
      margin: 0px;
      // justify-items: center;

   }
 
   [class*='splash-main-'] {
  //  //   width: 100%;
    // grid-column-start: 1;
  //   grid-row-start: 2;
      // margin: 30px;
      font-size: 37px;
      width: auto;
      display: inline-block;
      flex-direction: column;
      line-height: 45px;
      letter-spacing: 0px;
      flex-wrap: wrap;
      // padding: 26px;
      // font-weight: none;


   }
   .splash-main-img {
    // grid-column-start: 2;
    // grid-row: 7;
    // justify-self: center;
    // align-self: center;
    // margin-top: 100px;
    // width: 110%;
    // height: 110%;
      width: 400px;
      margin: 0px;
      // justify-content: center;
      
    }

    .splash-main-body {
      font-size: 20px;
      line-height: 35px;
      // width: 100%;
    }

    .splash-main-signup{
      // min-width: 100%;
      width: 100%;
      height: 57px;
      font-size: 20px;
      text-align: center;
      margin-top: 30px;

    }
    
    .splash-main-signup {
      position: relative;
    }
    .splash-main-signup > h1 {
      position: absolute;
      left: 27%;
      top: 12%;
    }

}